body {
    margin: 40px;
    color: blue;
    background-color: bisque;
    font-family: 'Roboto', sans-serif;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #000;
    opacity: 1; /* Firefox */
}

input[type=text] {
    width: 150px;
    padding: 10px 22px;
    margin: 10px 5px;
    box-sizing: border-box;
    border-color: darkorange;
    color: #000;
    background-color: white;
}

input[type=password] {
    width: 150px;
    padding: 10px 22px;
    margin: 10px 5px;
    box-sizing: border-box;
    border-color: darkorange;
    color: #000;
    background-color: white;
}

input[type=submit] {
    width: 100px;
    padding: 10px 22px;
    margin: 10px 5px;
    border: solid white 2px;
    background-color: orange;
    color: white;
    font-weight: bold;
}